<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/styles.css">
    <title>To Do List</title>
</head>
<body>
    <div class="task">
        <% task.forEach((element, index) => { %>
            <div class="const" style="display: flex; gap: 100px; margin: 50px; background-color: azure;">
                <h3 class="text"><%=element.task_name%></h3>
                <form action="/delete/<%=element.id %>" method="post">
                    <button type="submit">Delete</button>
                </form>
                <button class="trig" data-index="<%=index%>">UPDATE</button>
            </div>
                
            <div class="upd" style="display: none; gap: 100px; margin: 50px; background-color: azure;">
                <form action="/update/<%=element.id %>" method="post">
                    <button type="submit">Update</button>
                    <input type="text" class="task_update" name="task_update" value="<%=element.task_name %>">
                </form>
            </div>
        <% }); %>
    
        <form action="/add" method="post" style="display: flex;">
            <label for="task">New Task:</label>
            <input type="text" id="taks" name="task">
            <input type="date" name="date" id="date">
            <input type="submit" value="Submit">
        </form>
    </div>
    
   
    <script>
        document.querySelectorAll(".trig").forEach((button, index) => {
    button.addEventListener("click", () => {
        const constDiv = document.querySelectorAll(".const")[index];
        const updDiv = document.querySelectorAll(".upd")[index];

        if (constDiv.style.display === "none") {
            constDiv.style.display = "flex";
            updDiv.style.display = "none";
        } else {
            constDiv.style.display = "none";
            updDiv.style.display = "flex";
        }
    });
});
    </script>
</body>
</html>